NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_AWS_REGION=
NEXT_PUBLIC_COGNITO_USER_POOL_ID=
NEXT_PUBLIC_COGNITO_USER_POOL_CLIENT_ID=
NEXT_PUBLIC_CLOUDFRONT_DOMAIN=
NEXT_PUBLIC_WHATSAPP_NUMBER=

AWS_REGION=
PROJECTS_TABLE_NAME=
CATEGORIES_TABLE_NAME=
SITE_CONTENT_TABLE_NAME=
CONTACT_REQUESTS_TABLE_NAME=
SITE_SETTINGS_TABLE_NAME=
AUDIT_LOGS_TABLE_NAME=
UPLOADS_BUCKET_NAME=
CLOUDFRONT_DOMAIN=
